<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (Message) {%> <%= Message %> <%} %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #313131;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .login-container {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .login-container h2 {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
      }
      .form-group {
        margin-bottom: 15px;
      }
      .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .form-group input[type='email'],
      .form-group input[type='password'] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
      }
      .form-group input[type='submit'] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      .form-group input[type='submit']:hover {
        background-color: #0056b3;
      }
      .register-link {
        text-align: center;
      }
      .register-link a {
        color: #007bff;
        text-decoration: none;
      }
      .register-link a:hover {
        font-weight: bolder;
      }
      .redButton {
        background-color: rgba(241, 0, 0, 0.762) !important;
        color: white !important;
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <!-- <form action="#" method="post"> -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="ex.advikghatkar@email.com"
        />
      </div>
      <div class="form-group">
        <input type="submit" id="submit" value="Sign In" onclick="mainPage()" />
      </div>
      <!-- </form> -->
      <div class="register-link">
        <p>
          Don't have an account?
          <a href="http://localhost:3000/user-ui/registerUser">Register Now</a>
        </p>
      </div>
    </div>
  </body>
  <script>
    function mainPage() {
      let email = document.getElementById('email');
      console.log(email.value);
      const data = { email: email.value };
      fetch('http://localhost:3000/user/loginUser', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          if (!response.ok) {
            document.getElementById('submit').classList.add('redButton');
            setTimeout(function () {
              alert('User not found. Register the user');
              location.reload();
              return;
            }, 200);  
          } 
          else{alert('Login successfully');
            location.replace('');
        }
        })
        .catch((error) => {
          console.log(error);
        });
    }
  </script>
</html>
