<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (Message) {%> <%= Message %> <%}%></title>
    <link
      rel="icon"
      href="https://th.bing.com/th/id/OIP.TEFGCq9meFGAI-HttxxCEQAAAA?rs=1&pid=ImgDetMain"
      type="image/x-icon"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../../css/mainPage.css" />
  </head>
  <body>
    <div class="container1">
      <div style="text-align: right">
        <button class="logout-button" onclick="logOut()">Log Out</button>
        <button class="back-button" onclick="goBack()">Back</button>
      </div>
      <h1 id="greeting">Welcome user</h1>
      <!-- <h1>User Data</h1> -->
      <div class="container">
        <div class="search-container">
          <input type="text" id="searchInput" placeholder="Search..." />
          <button id="searchButton" onclick="search()">Search</button>
        </div>
      </div>
      <!-- <br /> -->
      <div class="pagination">
        <button id="prevPageButton" onclick="prevPage()">Previous</button>
        <span id="currentPage">Page 1</span>
        <button id="nextPageButton" onclick="nextPage()">Next</button>
      </div>
      <br />
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="allDataOfUser">
          <b> Registered Users</b>
        </tbody>
      </table>
    </div>
    <script src="../../js/mainPage.js"></script>
  </body>
</html>
