<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Update User</title>
<link rel="stylesheet" href="../../css/update.css">
</head>
<body>
<div class="update-form" id="fetchUser">
    <h2>Update User</h2>
        <div class="form-group">
            <label for="userId">ID:</label>
            <input type="text" id="userId" value="" name="userId" readonly>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" value="" name="name" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" value="" name="email" required>
        </div>
        <div class="form-group">
            <button type="submit" class="update-button" onclick="updateUser(getUrlParams().id)">Update</button>
        </div>
</div>
<script src="../../js/update.js"></script>
</body>
</html>
